// bower:scss
// endbower

@import url("https://use.typekit.net/zvy2brk.css");
@import 'settings/mixins';
@import 'settings/normalize';
@import 'settings/layout';
@import 'settings/animations';

html{
  font-family: "brandon-grotesque",sans-serif;
}
body,html{
  overflow-x: hidden;
  height: 100%;
}

$base-space: 16px;

.fish-background{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fish__container{
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  flex: 3 0 auto;
  z-index: 3;
  padding-top: $base-space * 2;
  @include for-tablet-landscape-up{
    text-align: auto;
    padding-top: $base-space * 6;
  }
}

.fish{
  &__hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    overflow: hidden;
  }
  &__welcome{
    font-weight: 700;
  }
  &__tagline{
    margin-top: $base-space;
  }
  &__info{
    color: lighten(#333, 15%);
    text-align: center;
    margin-bottom: $base-space * 1.5;
  }
  &__form{
    form{
      width: 80%;
      margin: 0 auto;
      input{
        background: #fff;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
        border-radius: 5px;
        margin: 0 0 $base-space 0;
        padding: $base-space / 2;
        width: 100%;
      }
    }
    border-radius: 4px;
    width: 80%;
    margin: $base-space * 3 auto;
    padding: $base-space * 2;
    background: #fff;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    @include for-tablet-landscape-up{
      width: 50%;
    }
  }
}
.wave{
  position: relative;
  width: 100%;
  bottom: 0;
  color: white;
  z-index: 2;
  background-image: linear-gradient(-90deg, #7295E0 0%, #2B5BC1 100%);
  svg{
    position: absolute;
    top: -200px;
    height:200px;
    width: 100%;
  }
}
.submit_container{
  width: 60%;
  margin: 16px auto;
  input{
    background: #7295E0 !important;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
    &:hover{
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
    }
  }
}
