.bubble {
   position: absolute;
   top: 80%;
   border-radius: 50%;
   z-index: 1;

   @for $i from 1 through 7 {

     &:nth-child(#{$i}) {
       $size: random(60) * .075;
       left: random(100) * 1%;
       height: $size * 1vmin;
       width: $size * 1vmin;
       animation: bubble-up $size * 1.5s + 1s .05s * $i - .05s infinite linear;

       &:before {
         animation: sway $size * .75s infinite ease;
         background: lighten(#2B5BC1, random(20) * 1%);
       }
     }
   }

   &:before {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     content: "";
     background: currentColor;
     border-radius: inherit;
     transform: translate(-100%, 0);
   }
 }

 @keyframes bubble-up {

   100% {
     transform: translate(0, calc(-100vh - 100%));
   }
 }

 @keyframes sway {

   50% {
     transform: translate(100%, 0);
   }
 }
